{% extends 'base.html' %}
{% load static %}

{% block title %}Acerca de nosotros{% endblock %}

{% block content %}

<header>
    <h1 class="titulo">Descripción del autor</h1>
</header>

<section class="authors">

    <article class="author">
        <!-- CORRECCIÓN: Se usa MEDIA_URL de forma dinámica -->
        <img src="{{ MEDIA_URL }}Agustin.jpg" alt="Foto de Agustín Mastriani" class="author-image">
        <div class="author-info">
            <h2>Agustín Mastriani</h2>
            <p>
                Gracias por visitar mi página personal. Soy un desarrollador web en constante aprendizaje y apasionado por la tecnología, la creatividad y el diseño.
            </p>
        </div>
    </article>

</section>

{% endblock %}
